# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
env/
.venv/
venv/
# Flask instance folder
instance/
# Environment variables
.env
.flaskenv
# Uploaded files
uploads/
# Logs
*.log
# IDE-specific files (example for VS Code)
.vscode/

# Node
node_modules/

# Vite
static/dist/
dist/
static/assets/

# Database
app_database.db

# Duplicated project directory (likely from unzipping)
sovereign--financial-cockpit/