# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python
env/
.venv/
venv/
# Flask instance folder
instance/
# Environment variables
.env
.env.local
.env.production
.flaskenv
# Uploaded files
uploads/
# Logs
*.log
# IDE-specific files (example for VS Code)
.vscode/
# Security files
*.pem
*.key
*.crt
config/private_key*
# Temporary files
*.tmp
*.temp

# Node
node_modules/

# Vite
static/dist/

# Database
app_database.db